:root {
    /* Colores */
    --dark-green: #044317;
    --medium-green: #5eb475;
    --soft-green: #DEFBE6;
    --primary-blue: #0F62FE;
    --secondary-blue: #78A9FF;
    --soft-blue: #EDF5FF;

    --alert-go: #24A148;
    --alert-attention: #F1C21B;
    --alert-warning: #FF832B;
    --alert-danger: #DA1E28;

    --warm-black: #071908;
    --warm-white: #F7F3F2;
    --off-white: #F4F4F4;
    --cold-white: #F2F4F8;
    
    --grey: #bbb9b9;
    --white: #FFFFFF;
    --black: #000;

    --green-shadow: rgba(4, 67, 23, 0.2)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: var(--soft-green); */
}


body {
    display: grid;
    /* height: 100vh; */
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'IBM Plex Serif', serif; */

    grid-template: auto 1fr auto / auto 1fr auto;
    
    background:var(--warm-white);
    
  }


  header {
    display: inline-block  ;
    width: 100%;
    min-width: 340px;
    justify-items: center;
    background: var(--dark-green);
    /* padding:0 0.5rem; */
    /* padding: 4px; */
    grid-column: 1 / 4;
  }
  
  .header-navbar {
      display: inline-grid;
      width: 100%;
      min-width: 280px;
      margin: 0;
      /* padding: 0 1rem; */
      grid-template-columns: auto 1fr auto;
      place-items: center;
      /* background: var(--medium-green); */
      /* align-items: center; */
  }

  .header-navbar .item {
    display: grid;
    padding: 1rem 0;
    text-align: center;
    color: var(--warm-white);

  }


  .header-navbar .item:nth-child(3) img{
    width: 48px;
    margin-right: 24px;
    padding-right: 4px;
  } 
  .header-navbar .item:nth-child(2) a{
    color:white
  }
  .header-navbar .item:nth-child(2) h1{
    font-size: 32pt;
    font-weight: 400;
    line-height: 8pt;
    text-align: center;
  }

  .header-navbar .item:nth-child(1) {
    margin-left: 24px;  
  }

  .header-navbar .item:nth-child(1) img{
    width: 48px;
    height: 48px;
  }

  .header-navbar .item:nth-child(1) h3{
    text-align: center;
    margin-top: 8px;
}

.header-navbar .item:nth-child(1) ul{
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 56px;
  text-align: left;
  /* width: 100px; */
  background: var(--dark-green);
  box-shadow: -4px -4px 4px var(--warm-black);
  border-radius: 16px;

}

.header-navbar .item:nth-child(1):hover ul, ul:hover {
  display: block;
}

.header-navbar .item:nth-child(1) li{
  margin: 8px 8px;
  padding: 8px;
}

.header-navbar .item:nth-child(1) li a{
  /* display: grid; */
  color: white;
  text-decoration: none;
}

.header-navbar .item:nth-child(1) li a:hover{
  text-decoration: underline;
}
    
  main {
      min-width: 340px;
      align-self: center;  
      text-align: center;
      grid-column: 2 / 3;
      padding: 2rem 0 1rem;
      background: linear-gradient(30deg, rgba(8,28,21,1) 0%, rgba(82,183,136,1) 52%, rgba(216,243,220,1) 100%);
      background-size: 500%;
      
      -webkit-animation: gradient 15s ease infinite;
      animation: gradient 15s ease infinite;
    }

    .main__hero--container {
      padding: .5rem 1rem;  
      overflow: scroll;
      position: relative;
    }
    
    .main__hero--title {
      display: inline-block;
      width: 90%;
      min-width: 280px;
      padding-bottom: 1rem;
      font-size: 2.6rem;
      color: var(--dark-green);
    }
    .main__hero--subtitle {
      display: inline-block;
      margin: 1rem 0;
      padding: 1rem;
      width: 90%;
      font-size: 1.2rem;
      color: var(--medium-green);
    }

    .main__hero--space {
      display: inline-block;
      width: 80%;
      font-size: 0.8rem;

      color: var(--warm-black);
      margin-bottom: 1rem;
    }

    .carousel {
      display: inline-flex;
      height: 60vh;
      /* padding: 1rem 1rem; */
      white-space: nowrap;
      /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45); */
      
    }

    .hero__card {
      display: flex;    
      flex-direction: column;  
      align-items: center;
      outline: none;
      border:none;

      margin: 2rem 8px;
      padding: 1rem;
      /* width: 520px; */
      height: 380px;
      overflow: hidden;   
      background: var(--white);
      box-shadow: 0 2px 4px var(--green-shadow);

      transition: 450ms all;
    }

    .hero__card--img {
      width: 450px;
      height: 380px;
      object-fit: cover;    
      overflow: hidden;
    }

    .hero__card--title, .hero__card--subtitle {
      /* display: ; */
      color: var(--dark-green);
      text-decoration: none;
    }

    .hero__card--title {
      font-size: 2rem;
      padding-top: 16px;
    }
    .hero__card--subtitle {
      font-size: 1rem;
      padding: 8px;
    }
    .main__hero--container:hover ~ .hero__card{
      /* animacion a ala derecha */
      transform: translate3d(150px,0,0);
  }

  .carousel:hover, .hero__card {
      opacity: 0.3;
  }
  
  .carousel:hover, .hero__card:hover {
      transform: scale(1.2);
      opacity: 2;
  }

  footer {
    background: var(--dark-green);
    min-width: 340px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    grid-column: 1 / 4;
  }

  .footer-table {
      display: inline-flex; 
      justify-content: space-between;
      width: 100%;
      padding: 0 0.5rem;
      place-items: center;
      font-size: .8rem;
  }
  
  .footer-table--icons {
    display: inline-grid;
    justify-self: left;
    grid-template-columns: repeat(3,1fr);
    grid-auto-columns: min-content;
    column-gap: 8px;
  }
 
  .footer-table--icons span{
    display: grid;
    width: 40px;
    height: 40px;  
 } 

 .footer-table--icons span:nth-child(1){
    background-image: url('/assets/icons/githubLightNOBG.svg');
    background-size: cover;
 } 

 .footer-table--icons span:nth-child(2){
    background-image: url('/assets/icons/instagramLightNOBG.svg');
    background-size: cover;
 } 

 .footer-table--icons span:nth-child(3){
    background-image: url('/assets/icons/googleLightNOBG.svg');
    background-size: cover;
 } 

 .footer-table--text {
  display: grid;
  text-align: center;
  padding:0 24px;
  color: var(--white);
  font-weight: 300;
}

.footer-table--text a{
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.footer-table--text a:hover{
  text-decoration: underline;
}

  .footer-table--logo img{
    display: grid;
    height: 32px;
  }

  a {
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    display:none;
}



@-webkit-keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}